@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html, body {
	margin: 0;
	height: 100%;
	font-family: "Open Sans";
}
#map {
	width: 100%;
	height: 100%;
}
#panel, #settings {
	overflow-x: hidden;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 0px;
	height: 100%;
	background-color: white;
	display: flex;
	flex-direction: column;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	-webkit-transition: width 0.08s ease-out;
	-moz-transition: width 0.08s ease-out;
	-o-transition: width 0.08s ease-out;
	transition: width 0.08s ease-out;
}
#toggle_panel_button,
#reset_button,
#toggle_settings_button,
#save_state_button {
	cursor: pointer;
	position: absolute;
	right: 0.75em;
	top: 0.75em;
	width: 1.5em;
	height: 1.5em;
	background-color: rgba(0, 60, 136, .5);
	border-radius: 1.5em;
	padding: 0.75em;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
#reset_button {
	top: 4.5em;
}
#toggle_settings_button {
	top: 8.25em;
}
#save_state_button {
	top: 12.0em;
}
#toggle_panel_button:hover,
#reset_button:hover,
#toggle_settings_button:hover,
#save_state_button:hover {
	background-color: rgba(0, 60, 136, .7);
}
.ol-zoom-in:hover, .ol-zoom-out:hover {
	cursor: pointer;
}
.panel_block {
	padding: 1em;
}
.panel_block > span {
	margin-left: 3em;
}
.marker_info_item, .settings_item {
	display: flex;
	align-items: center;
	margin-top: 1em;
}
.marker_info_item > span, .settings_item > span {
	margin-left: 1em;
	width: 50%;
}
select {
	margin-top: 1em;
	width: 100%;
	height: 32px;
	border-radius: 4px;
	border-style: none;
	border: 1px solid #999;
	background-color: rgb(230, 230, 230);
}
select:hover, select:focus {
	transition: 0.08s ease-out;
	background-color: rgb(200, 200, 200);
}
.event_item {
	display: flex;
	align-items: center;
	height: 22px;
	padding-left: 1.0em;
	padding-right: 1.0em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.event_item:hover {
	cursor: pointer;
	background-color: white;
}
.event_item > span:nth-child(2) {
	margin-left: 1em;
	width: 100%;
}
.event_item.hidden {
	display: none;
}
.dark_event_item:hover {
	color: whitesmoke;
	background-color: rgb(26, 24, 44);
}
#events_list {
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	padding-top: 1em;
	padding-bottom: 1em;
}
.red_event {
	background-color: rgb(231, 76, 60);
}
.orange_event {
	background-color: rgb(255, 154, 42);
}
.yellow_event {
	background-color: rgb(255, 215, 54);
}
.grey_event {
	background-color: rgb(168, 168, 168);
}
/*.button {
	margin: 1em 0em;
	padding: 0.5em;
	border-radius: 0.25em;
	background-color: rgba(0, 60, 136, .5);
	color: white;
	text-align: center;
}
.button:hover {
	cursor: pointer;
	background-color: rgba(0, 60, 136, .7);
}*/
.switch {
	position: absolute;
	right: 6em;
	width: 50px;
	height: 24px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 30px;
}
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	border-radius: 34px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.08s ease-out;
	-moz-transition: 0.08s ease-out;
	-o-transition: 0.08s ease-out;
	transition: 0.08s ease-out;
}
.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 4px;
	bottom: 4px;
	border-radius: 50%;
	background-color: rgba(0, 60, 136, .7);
	-webkit-transition: 0.08s ease-out;
	-moz-transition: 0.08s ease-out;
	-o-transition: 0.08s ease-out;
	transition: 0.08s ease-out;
}
input + .slider {
	background-color: rgb(230, 230, 230);
}
input + .slider:hover, input:focus + .slider {
	background-color: rgb(200, 200, 200);
}
input:checked + .slider {
	background-color: rgba(0, 60, 136, .5);
}
input:checked + .slider:hover, input:checked:focus + .slider {
	background-color: rgba(0, 60, 136, .7);
}
input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
	background-color: whitesmoke;
}
.ol-overlaycontainer-stopevent {
	z-index: 1 !important;
}